html{
    scroll-behavior: smooth;
}
body{
    background-color:#ffff ;
}
div.container{
    overflow-x: hidden;
}
#header {
    background-color: #633729;
    z-index: 39;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
#intro{
    margin-top: 40px;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-image: url(/img/mod.jpg);
    filter: brightness(1.1);
    background-size: cover;
    background-position: center;
    background-color: #fce6cc;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-list{
    display: none;
}
.bi-x {
    display: none;
}
.logo img{
    height: 75px;
}
a{
    text-decoration: none;
    color: inherit;
}
.navlinks{
    display: flex;
    align-items: center;
}
ul.menue{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: start;
    justify-content: start;
    gap: 30px;
    color:#fce6cc;
}
ul.sub-menue{
    position: absolute;
    top: 50px;
    display: block;
    background-color: #633729;
    border-radius: 10px;
    width: 160px;
    gap: 20px;
    padding: 20px 5px;
    margin-top: -5px;
    font-size: small;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    box-shadow: 0 3px 6px #000;
    transition: all ease 0.5s;
}
ul.menue li:hover ul.sub-menue{
    visibility: visible;
    opacity: 1;
    z-index: 10;
    top: 70px;
}
ul.sub-menue li{
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.sub-menue li:hover{
    background-color: burlywood;
}
ul li{
    list-style: none;
}
div.about-info{
    position: absolute;
    background-color: #633729;
    left: 0;
    right: 0;
    top:70px;
    padding:0 30px;
    transition: all ease 0.5s;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}
ul.menue li:hover div.about-info{
    visibility: visible;
    opacity: 1;
    z-index: 10;
    top: 60px;
}
div.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
div#account{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    color:black;
    font-size: larger;
}
span#cart{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:burlywood;
    position: relative;
    color:black;
    font-size: larger;
}
.number-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    top: 0;
    right: 0;
    color: 1;
}
#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
#intro h1{
    font-size: 100px;
    color: #633729;
}
#intro h5{
    font-size: 30px;
    color: #633729;
}
#intro p{
    font-size: 20px;
    color: #633729;
}
.goods {
    height: 65%;
}
div.Products{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
div.Products img{
    height: 50%;
}
.price{
    background-color: #633729;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.price h5{
    color: #f0d885;
    font-size: x-large;
}
.price h6{
    color: #f0d885;
    font-size: large;
}
.price button{
    height: 40px;
    width: 50%;
    border-radius: 20px;
    color: #633729;
    background-color: #f0d885;
    white-space:noweap;
    border: none;
    margin-bottom: 5px;
}
#Notification{
    position: absolute;
    background-color:#633729;
    color:white ;
    right: 260px;
    top: 70px;
    width: 15%;
    text-align: center;
}
#footer{
    background-color: #633729;
    margin-top: 90px;
    padding-top: 70px;
    padding-bottom: 50px;
}
#footer h2{
    color: #f0d885;
    font-size: larger;
}
#footer p{
    color: #f0d885;
    font-size: small;
}
#footer ul li a{
    color: #f0d885;
}
#footer ul li a:hover{
    color: #f0d885;
    text-decoration: underline;
}
#footer span a{
    color: #f0d885;
    margin-right: 20px;
}
select{
    background-color: #f0d885;
}
@media(max-width:770px){
    .bi-list{
        display: block;
        position: absolute;
        color: #f0d885;
        cursor: pointer;
        font-size: xx-large;
        background-color: #633729;
        top: 80px;
        right: 10px;
    }
    .bi-x{
        display: block;
        position: absolute;
        cursor: pointer;
        color: #f0d885;
        font-size: xx-large;
        top: 70px;
        right: 10px;
        z-index: 40;
    }

    ul.menue{
        z-index: 30;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: absolute;
        top: 70px;
        right: -80%;
        padding-left: 20px;
        margin: 0;
        align-items: start;
        justify-content: start;
        gap: 30px;
        color:#f0d885;
        padding-top: 50px;
        background-color:#633729;
        width: 70%;
        height: 100vh;
        transition: right 0.7s ease-in-out;
    }
    ul.menue-active{
        right:0;
    }
    .accordion-button{
        font-size: large;
        color: #f0d885;
    }
    .accordion{
       --bs-accordion-btn-bg:#633729;
        --bs-accordion-bg:#0000;
        --bs-accordion-active-bg:#0000;
        --bs-accordion-border-color:#000;
        --bs-accordion-btn-padding-x:2px;
        --bs-accordion-body-padding-x:0;
        margin-bottom: 4px;
    }
    .accordion-button ul li{
        color: #f0d885;
        margin-left: -30px;
    }
    .accordion-body ul li a{
        color: #f0d885;
    }
    .accordion-body ul li{
        padding: 10px;
        margin-left: -20px;
    }
    .accordion-button:not(.collapse){
        box-shadow: none;
    }
    #Notification{
        position: absolute;
        background-color: hsl(47, 78%, 73%);
        color:wheat ;
        right: 10px;
        top: 70px;
        width: 50%;
        text-align: center;
    }
    #intro{
        margin-top: 40px;
        height: 100vh;
        width: 100%;
        z-index: 10;
        background-image: url(/img/mod.jpg);
        filter: brightness(1.1);
        background-size: cover;
        background-position: center;
        background-color: #fce6cc;
    }
    #intro h1{
        font-size: 40px;
        color: #633729;
    }
    #intro h5{
        font-size: 20px;
        color: #633729;
    }
    #intro p{
        font-size: 20px;
        color: #633729;
    }
    div.Products{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    div.Products img{
        height: 50%;
    }
    .price{
        background-color: #633729;
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        white-space: nowrap;
        justify-items: center;
        flex-direction: column;
    }
    .price h5{
        color: #f0d885;
        font-size: large;
    }
    .price h6{
        color: #f0d885;
        font-size: medium;
    }
    .price button{
        height: auto;
        width: auto;
        border-radius: 20px;
        color: #ffff;
        background-color: #f0d885;
        white-space:noweap;
        border: none;
        margin-bottom: 5px;
        
    }
}